.App {
  text-align: center;
  padding: 20%;
  background: rgb(8, 36, 59);
  font-size: 1.4rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.FormContainer {
  background: white;
  width: 55%;
  padding: 8%;
  border: 1px solid black;
  border-radius: 20px;

}

Form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

button {
  width:30%;
  font-size: 1.4rem;
  background: rgb(171, 197, 212);
  border-radius: 20px;
}